Source: ros-cargotest-demo-cargo-pkg-lib
Section: misc
Priority: optional
Maintainer: "Scott K Logan" <logans@cottsay.net>
Build-Depends: debhelper (>= 9.0.0), cargo, cargo-auditable, dh-cargo, pallet-patcher, ros-cargotest-ros-workspace, rustc
Homepage: https://index.ros.org/p/demo_cargo_pkg_lib/#cargotest
Standards-Version: 4.6.0

Package: ros-cargotest-demo-cargo-pkg-lib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-cargotest-ros-workspace
Description: A demonstrational library helper package for case conversions.
